tests/utdeps/gitea
tests/utdeps/charts/repo/*.tgz
tests/.env
/tests/utdeps_db/mongo8/*
specs
docs/reqs

.codex
.codebuddy/plan/
.codebuddy/skills/

# A directory for developers to store local files
_local_files/
polaris/log/

*.pyc
__pycache__/

.env
